<style>

    /* custom properties */
    :root {
        --background-color: #fafafa;
        --text-color: #111;
        --info-color: #333;
        --link: #5d4f84;
        --special-links: #e9e9f5;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background-color: #111111;
            --text-color: #d7d7d8;
            --info-color: #D3D3D3;
            --link: #9da2f0;
            --special-links: #1b1f3d;
        }
    }

    body {
        background-color: var(--background-color);
        color: var(--text-color);
        font-family: "Arial", sans-serif;
    }

    div#container {
        margin: auto;
        max-width: 640px;
        padding: 10px;
        text-align: center;
        margin: 0 auto;
    }

    .posts {
        align: center;
    }

    .post_content {
        text-align: start;
    }

    div.post {
        margin-top: 20px;
    }

    .render-info {
        color: var(--info-color);
        max-width: 640px;
    }

    .render-info summary {
        cursor: pointer;
        margin-bottom: 10px
    }

    .render-info-value {
        font-weight: bold;
        margin-right: 5px;
    }

    .post_header {
        display: flex;
        justify-content: space-between;
    }

    .post_footer {
        display: flex;
        justify-content: space-between;
    }

    .avatar {
        max-width: 4em;
        min-width: 4em;
        height: 4em;
    }

    .avatar img {
        max-width: 100%;
        border-radius: 20%;
    }

    .user {
        display: inline-flex;
        text-align: start;
    }

    .displayname {
        display: block;
    }

    .medias img, .medias video {
        max-width: 100%;
        max-height: 100vh;
    }

    a {
        color: var(--link);
        text-decoration: none;
    }

    a:hover, a:active {
        text-decoration: underline;
    }

    a.hashtag, a.mention {
        opacity: .8;
        background-color: var(--special-links);
    }

</style>
