<script>
const options = { dateStyle: 'medium', timeStyle: 'medium' };
document.querySelectorAll('.date').
  forEach(d => {
    const date = new Date(d.dataset.date).
      toLocaleString('default', options)
    d.textContent = date
  })
</script>
